<!DOCTYPE html>
<html lang="ja">

<head>
  <meta chartset="utf-8">
  <title>me/v</title>
  <link rel="stylesheet" href="./mev.css" type="text/css">
  <link rel="stylesheet" href="./components/start-dialog.css" type="text/css">
  <link rel="stylesheet" href="./components/details-dialog.css" type="text/css">
  <link rel="stylesheet" href="./third_party/checkbox.css" type="text/css">
  <link rel="stylesheet" href="./third_party/mprogress.min.css" type="text/css">
</head>

<body style="margin:0; overflow:hidden">
  <!-- File Load Dialog -->
  <div style="position: absolute; left:30%; top: 200px; width:40%" id="vue_start_dialog">
    <!--<h2>VRMかFBXを読み込んで編集開始</h2> -->
    <h2>VRMを読み込む</h2>

    <section style="text-align: center">
      <div id="dropzone"
        style="height: 100px; border-style:dotted; border-color: grey; border-width: 3px; text-align: center; padding-top: 24px"
        :class="{dragover: isDragover}" @dragover="fileDragover" @dragleave="fileDragleave" @drop="fileDrop">
        <img src="ui_asset/baseline-open_in_browser-24px.svg" width="48px" height="48px" style="filter:contrast(10%)">
        <br />
        ファイルをドロップする
      </div>

      または<br />
      <input type="file" @change="fileSelect">
    </section>

    <section>
      <span class="text-aux">※編集はすべてブラウザ内で行われ、読み込んだデータがアップロードされることはありません。</span>
    </section>
  </div>

  <!-- Developer Info Window -->
  <div style="position: absolute; left:25%; top: 50px; width:50%; display: none" id="vue_details_dialog">
    <!-- Toolbar -->
    <section class="menu_toolbar">
      <h1 style="display:inline-block">VRMデータ詳細</h1>
      <button class="toolbar_button" @click="clickCloseButton">
        <img src="ui_asset/close-white-18dp.svg" />
      </button>
    </section>

    <div style="padding: 8px">
      <span class="chip-button"
        :class="{'chip-button-active': currentTab == 'BUFFER'}"
        @click="clickTab('BUFFER')">Buffer</span>
      <span class="chip-button"
        :class="{'chip-button-active': currentTab == 'BLENDSHAPE'}"
        @click="clickTab('BLENDSHAPE')">Blendshape</span>
      <span class="chip-button"
        :class="{'chip-button-active': currentTab == 'BONE'}"
        @click="clickTab('BONE')">Bones</span>
    </div>

    <pre v-if="currentTab == 'BUFFER'" style="overflow:scroll; height: 800px">{{detailsText}}</pre>
    <pre v-if="currentTab == 'BLENDSHAPE'" style="overflow:scroll; height: 800px">{{morphDetails}}</pre>
    <pre v-if="currentTab == 'BONE'" style="overflow:scroll; height: 800px">{{boneDetails}}</pre>
  </div>

  <!-- Main Menu Window -->
  <div style="position: absolute; left:8px; top: 8px; width: 240px; display: none" id="vue_menu">
    <!-- Toolbar -->
    <section class="menu_toolbar">
      <button class="toolbar_button" v-if="showBackButton" @click="clickBackButton">
        <img src="ui_asset/baseline-arrow_back-24px.svg" style="filter: contrast(10%) brightness(5)" />
      </button>
      <h1 style="display:inline-block">{{toolbarTitle}}</h1>
    </section>

    <menu-section-emotion v-if="showEmotionPane"
      :vrm-renderer="vrmRenderer"
      :emotion-id="currentEmotionId"
      :all-weight-candidates="allWeightCandidates" :weight-configs="currentWeightConfigs"
      :blendshape-master="blendshapeMaster">
    </menu-section-emotion>

    <menu-section-image v-if="showImagePane" :vrm="vrmRoot" :image-id="currentImageId"
      :image-using-parts="partsForCurrentImage" v-on:vrm-change="updateVrm">
    </menu-section-image>

    <section id="loading_progress" style="padding: 8px" v-if="isLoading">
    </section>

    <section v-if="isFatalError">
      読み込みに失敗しました
      <button @click="refreshPage">別のファイルを読み込み</button>
    </section>

    <!-- Menu body (main) -->
    <section class="menu_body" v-if="showMainPane">
      <section>
        <h2>表情</h2>
        <div v-for="emotionGroup in emotionGroups" style="padding-bottom: 8px">
          <span v-for="emotion in emotionGroup" class="chip-button"
            :class="{'chip-button-active': emotion.id === currentEmotionId}"
            @click="clickEmotion(emotion.id)">{{emotion.label}}</span>
        </div>
      </section>

      <section>
        <h2>揺れもの</h2>
        {{springs.length}}個
      </section>

      <section>
        <h2>パーツ</h2>
        <div style="max-height:300px; overflow-y:auto">
          <div v-for="part in parts">
            <span>{{part.name}} <span class="text-aux"
                style="float: right; padding-right: 4px">{{part.numTris}}</span></span>
            </label>
            <br />
            <img style="border: 1px; border-color:black; height: 48px" v-bind:src="part.textureUrl"
              @click="clickImage(part.imageId)" /><span class="normal-text">{{part.shaderName}}</span>
          </div>
        </div>
      </section>

      <section v-if="finalVrmSizeApprox">
        <h2>VRMに出力</h2>
        <div class="normal-text">サイズ: {{finalVrmSizeApprox}}</div>
        <div class="normal-text">ポリゴン: {{finalVrmTris}}</div>
        <button @click="downloadVrm">ダウンロード</button><br/>
        <a class="normal-text" href="#" @click="showDetails">データ詳細(開発者向け)</a>
      </section>
    </section>
  </div>

  <!-- Display Control Window -->
  <div class="anim_panel" style="display: none" id="vue_anim_control">
    <div style="display: inline-block; height: 48px; padding-top: 12px">アニメーション</div>
    <button class="floating_button" v-if="showPlayButton" @click="clickPlayButton">
      <img src="ui_asset/play_circle_white_24dp.svg"/>
    </button>
    <button class="floating_button" v-if="showPauseButton" @click="clickPauseButton">
      <img src="ui_asset/pause_circle_white_24dp.svg"/>
    </button>

    <div style="display: inline-block; height: 48px; padding-top: 12px; padding-left:24px">ワイヤーフレーム表示</div>
    <button class="floating_button" v-if="!wireframeEnabled" @click="clickEnableWireframe">
      <img src="ui_asset/check_box_outline_blank_white_24dp.svg"/>
    </button>
    <button class="floating_button" v-if="wireframeEnabled" @click="clickDisableWireframe">
      <img src="ui_asset/check_box_white_24dp.svg"/>
    </button>

    <div style="display: inline-block; height: 48px; padding-top: 12px; padding-left:24px">環境</div>
    <button class="floating_button" style="width: initial" @click="clickSetEnv('dark')">
      暗闇
    </button>
    <button class="floating_button" style="width: initial" @click="clickSetEnv('neutral')">
      ニュートラル
    </button>
    
  </div>

  <!-- Vue.js Components -->
  <script type="text/x-template" id="menu_section_emotion">
    <div>
      <!-- Menu body -->
      <section class="menu_body">
        <section v-if="weightConfigs.length === 0">
          表情が設定されていません。
        </section>
        <section>
          <div v-for="weightConfig in weightConfigs">
          {{weightConfig.morphName}}<br/>
          <input type="range" min="0" max="100" step="1" @input="onChangeWeight($event, weightConfig)" @change="onChangeWeight($event, weightConfig)" :value="weightConfig.weight">  {{weightConfig.weight.toFixed(0)}}
          </div>
        </section>
      </section>
      <section style="padding: 8px">
        <button v-if="!searching" @click="clickAddWeight">追加</button>
        <div v-if="searching">
          <img src="ui_asset/baseline-search-24px.svg" width="24px" height="24px" style="vertical-align: middle">
          <input type="text" v-model="searchQuery" ref="searchbox">
        </div>
        <section v-if="searching" style="max-height:300px; overflow-y:auto">
          <div v-for="weightSearchResult in weightSearchResults" @click="addWeight(weightSearchResult.weightCandidate)">
            <span style="color: #424242">{{weightSearchResult.namePreHighlight}}</span><span style="font-weight: bold">{{weightSearchResult.nameHighlight}}</span><span style="color: #424242">{{weightSearchResult.namePostHighlight}}</span>
          </div>
        </section>
      </section>
    </div>
  </script>

  <script type="text/x-template" id="menu_section_image">
    <div>
      <!-- Menu body -->
      <section class="menu_body">
        <img :src="textureUrl" style="width: 224px"/>
        {{width}}px × {{height}}px<br/>

        <label class="filebutton" for="texupload">ファイルから設定</label>
        <input id="texupload" style="opacity:0; position: absolute; z-index: -1" type="file" accept=".png" @change="fileSelect">

        <label class="filebutton" @click="clickDownload" for="texdownload">書き出し</label>
        <br/>

        <h2>画像が使われている場所</h2>
        <div v-for="part in imageUsingParts">{{part.name}}</div>
      </section>
    </div>
  </script>

  <!-- Debug -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"
    integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
    <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/103/three.js"
    integrity="sha256-Dz4QEGvodtXoy6gQW91o97WHBVvVXj7WsVA2LOUigbs=" crossorigin="anonymous"></script>
    -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.js"
    integrity="sha512-NLtnLBS9Q2w7GKK9rKxdtgL7rA7CAS85uC/0xd9im4J/yOL4F9ZVlv634NAM7run8hz3wI2GabaA6vv8vJtHiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Release -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
    integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/103/three.min.js"
    integrity="sha256-T4lfPbatZLyNhpEgCvtmXmlhOUq0HZHkDX4cMlQWExA=" crossorigin="anonymous"></script>-->

  <script src="./third_party/jimp.min.js"></script>
  <script src="./third_party/three_orbit_controls.js"></script>
  <script src="./third_party/file_saver.js"></script>
  <script src="./third_party/mprogress.min.js"></script>
  <script type="module" src="./mev.js"></script>
</body>

</html>