/* Color Schema: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=F5F5F5&secondary.color=424242  */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Animation Control Panel */
.anim_panel {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 48px;
    position: absolute; left: 248px; top: 8px;
    padding-left: 16px;
    padding-right: 8px;
}

.floating_button {
    height: 48px;
    width: 48px;
    padding: 12px;
    background-color: transparent;
    box-shadow: none;
}

.floating_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

.floating_button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}



/* UI Component: Floating menu */

#vue_menu {
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.menu_toolbar {
    background-color: #424242;
    color: white;
    height: 48px;
    /* prevent accidental size change */
    overflow: hidden;
    display: flex;
}

.menu_toolbar button {
    display: inline-block;
}

.menu_toolbar h1 {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
    top: 0px;
    display: inline-block;
    /* Force single line & show ellipsis */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu_toolbar h1:first-child {
    padding-left: 8px;
}

.menu_body {
    padding: 8px;
}

button.toolbar_button {
    box-shadow: none;
    width: 48px;
    height: 48px;
    padding: 12px;
}

toolbar_button.img {
    width: 24px;
    height: 24px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

button {
    font-family: 'Noto Sans JP', sans-serif;
}

.normal-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: light;
}

/* UI Component: Chip Button */

.chip-button {
    background-color: #c2c2c2;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    min-width: 8px;
    margin-right: 8px;
    text-align: center;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.chip-button-active {
    background-color: #424242;
    color: white;
    font-weight: bolder;
}

/* Menu section header */

.text-aux {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    color: #6d6d6d;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

button {
    background-color: #424242;
    border: none;
    padding: 8px;
    border-radius: 2px;
    color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

label.filebutton {
    background-color: #424242;
    border: none;
    padding: 8px;
    border-radius: 2px;
    color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 12px;
}

button:hover {
    background-color: #6d6d6d;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}